# Ignore Python environments
asl_env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Ignore any .env file that contains secrets
.env
data/pose_per_individual_videos.zip
