h1 {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: green;
    width: 300px;
}

.titles hr {
    width:30%;
    margin-left: 0;
}
/* BODY */
body {
    background-color: black;
}

.boxes h2 {
    display: inline-block;
    margin: 0;
    margin-top: 100px;
    height: 30px;
    font-family: sans-serif;
}

.camera-title {
    color:white;
    background-color: green;
    text-align: left;
    width: 50%;
}

.response-title {
    color:white;
    background-color: rgb(63, 151, 63);
    text-align: right;
    width: 50%;
}

.squares {
    display: inline-block;
    border: 1px double #00FF00;
    height: 500px;
    width: 49%;
}

.square-right {
    float: right;
}

/*.square-top {
    height:1px;
    border-color:grey;
}

.square-left {
    width: 2%;
    border-color: grey;
    margin-top: 30px;
    margin-left: 0;
    height: 200px;
}

.square-right {

}

.square-mid {

}

.square-bottom {

}*/

.button1 {
    background-color: red;
}

.button2 {
    background-color: red;
}

/* FOOTER */
footer {
    color: white;
    font-size: 14px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    background-color: green;
    width: 200px;
}

.credits {
    font-style: italic;
}

.footerlink {
    color: white;
}

.footerlink:hover {
    color:red;
}